.title {
  margin-bottom: 40px;
}

.img {
  width: 100%;
  margin-bottom: 20px;
}

.question {
  font-size: 21px;
  font-weight: bold;
}

.singlePageContainer {
  margin-bottom: 40px;
}
